<div>
  <link href="./feature-card.css" rel="stylesheet" />
  <div class="feature-card-container">
    <svg viewBox="0 0 1024 1024" class="feature-card-icon">
      <path
        d="M170 256v426h684v-426h-684zM854 768h170v86h-1024v-86h170q-34 0-59-26t-25-60v-426q0-34 25-60t59-26h684q34 0 59 26t25 60v426q0 34-25 60t-59 26z"
      ></path>
    </svg>
    <h5 class="feature-card-text headingThree"><span>Design</span></h5>
    <span class="feature-card-text1">
      <span>Get the latest design ideas and turn it into reality.</span>
    </span>
  </div>
</div>
